---
title: Home
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Hannah Thomas | {{ title }}</title>
  </head>
  <body>
    <header>
      <h1>Hannah Thomas</h1>
      <a href="mailto:hannah@hannah-thomas.com">hannah@hannah-thomas.com</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer><p>&COPY; 2025 Hannah Thomas</p></footer>
  </body>
</html>
