nav.parent#subnav
	a(href="designprojects.html").child Design Projects
	a(href="writing.html").child Writing Samples
	a(href="creative.html").child Creative Work
	a(href="coursework.html").child Special Coursework
