doctype html
html
	head
		include ./includes/jade/head.jade
		script(type="text/javascript",src="js/lightbox-mini.js")

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav3.jade
		main
			section.toc
				h2 Table of Contents
				ol
					li.art: a Art
					li.graphic: a Graphic Design
					li.anim: a Computer Animation Project
					li.genart: a Generative Art Project
					li.cycles: a Animation Project &mdash; Cycles
					li.persuasive: a Persuasive Media Project


			section.art
				h2 Art
				p.repo-title Original Art
				.light-box-repository.parent
					a(href="resources/creative/images/lightbox/full/follow.png",title="Art piece made in Photoshop.").light-box-image: img(src="resources/creative/images/lightbox/prev/follow.png")
					a(href="resources/creative/images/lightbox/full/spiral.png",title="Art piece made in Processing.").light-box-image: img(src="resources/creative/images/lightbox/prev/spiral.png")
					a(href="resources/creative/images/lightbox/full/spiral2.png",title="Art piece made in Processing.").light-box-image: img(src="resources/creative/images/lightbox/prev/spiral2.png")
					a(href="resources/creative/images/lightbox/full/spiral8.png",title="Art piece made in Processing.").light-box-image: img(src="resources/creative/images/lightbox/prev/spiral8.png")
					a(href="resources/creative/images/lightbox/full/thomas_lab02-01.png",title="My personal crest. Made in Illustrator.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_lab02-01.png")
					a(href="resources/creative/images/lightbox/full/thomas_lab03-02.png",title="Elimination. Made in Illustrator.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_lab03-02.png")
					a(href="resources/creative/images/lightbox/full/thomas_lab03-03.png",title="Compression. Made in Illustrator.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_lab03-03.png")
					a(href="resources/creative/images/lightbox/full/thomas_project1.jpg",title="Unconvential Typeface. Created a typeface that describes the word it embodies. (Clich&eacute;)").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_project1.jpg")
					a(href="resources/creative/images/lightbox/full/sequential.jpg",title="Sequential Images Project. Created three separate and unique images that together formed a complete project.").light-box-image: img(src="resources/creative/images/lightbox/prev/sequential.jpg")
					a(href="resources/creative/images/lightbox/full/thomas_lab05.png",title="Vector Self Portrait.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_lab05.png")

				p.repo-title Fan Art
				.light-box-repository.parent
					a(href="resources/creative/images/lightbox/full/Grinch.JPG",title="The Grinch. Drawn on a White Board.").light-box-image: img(src="resources/creative/images/lightbox/prev/Grinch.JPG")
					a(href="resources/creative/images/lightbox/full/Mushu.JPG",title="Mushu. Drawn on a White Board.").light-box-image: img(src="resources/creative/images/lightbox/prev/Mushu.JPG")
					a(href="resources/creative/images/lightbox/full/Perry.JPG",title="Perry the Platypus. Drawn on a White Board.").light-box-image: img(src="resources/creative/images/lightbox/prev/Perry.JPG")

				include ./includes/jade/backtotop.jade

			section.graphic
				h2 Graphic Design
				p.repo-title Posters and Logos
				.light-box-repository.parent
					a(href="resources/creative/images/lightbox/full/thomas_project02.png",title="Typeface Speciment Poster for the Typeface Consolas. Made in Illustrator.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_project02.png")
					a(href="resources/creative/images/lightbox/full/thomas_project03.png",title="City Logo Redesign for the city Celebration, Florida. Made in Affinity Designer.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_project03.png")
					a(href="resources/creative/images/lightbox/full/thomas_project03Color.png",title="City Logo Redesign for the city Celebration, Florida. Made in Affinity Designer.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_project03Color.png")
					a(href="resources/creative/images/lightbox/full/thomas_project03small.png",title="City Logo Redesign for the city Celebration, Florida. Made in Affinity Designer.").light-box-image: img(src="resources/creative/images/lightbox/prev/thomas_project03small.png")
				p.repo-title The Human Doing &mdash; Interactive PDF
				figure.full
					a(href="resources/creative/pdfs/thomas_project04.pdf"): img(src="resources/creative/images/humandoing.png")
					figcaption This project focused on critiquing social media via an interactive PDF. Made in InDesign. Click the above image to download the PDF. For the best viewing experience, use Adobe Reader.


				include ./includes/jade/backtotop.jade

			section.anim
				h2 Computer Animation Project
				figure.full
					| <iframe width="853" height="480" src="https://www.youtube.com/embed/Xa88Dm1Jw3I?rel=0" frameborder="0" allowfullscreen></iframe>
					figcaption Animation project, made in Autodesk Maya.
				include ./includes/jade/backtotop.jade

			section.genart
				h2 Generative Art Project
				figure.full
					| <iframe width="640" height="480" src="https://www.youtube.com/embed/-LPk8Ve7BCw?rel=0" frameborder="0" allowfullscreen></iframe>
					figcaption Generative Art Project. Made with Processing.
				include ./includes/jade/backtotop.jade

			section.cycles
				h2 Animation Project &mdash; Cycles
				figure.full
					| <iframe width="640" height="480" src="https://www.youtube.com/embed/0osm1SICw5g?rel=0" frameborder="0" allowfullscreen></iframe>
					figcaption Animation project made in After Effects.
				include ./includes/jade/backtotop.jade

			section.persuasive
				h2 Persuasive Media Project
				figure.full
					| <iframe width="640" height="480" src="https://www.youtube.com/embed/snoDRaD50RE?rel=0" frameborder="0" allowfullscreen></iframe>
					figcaption A group project made in After Effects. We created a video to raise awareness about digital content ownership, especially after death.
				include ./includes/jade/backtotop.jade

		footer
			include ./includes/jade/footer.jade

		include ./includes/jade/lightbox.jade