doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav1.jade
		main
			.tldr
				h2 Introduction
				p Education has always been a mixed bag. Governments try to standardize it, and in so doing often stop teachers from doing their best. Yet, without some sort of standard, education would be practically meaningless. At least, that is the general idea.
				p Often, when people talk about education, they ask &ldquo;What does it mean to be a teacher?&rdquo; or &ldquo;What is worth teaching in school?&rdquo;. I think the better question to ask is &ldquo;what does it mean to be a student?&rdquo;. Honestly, this question did not pop into my mind until very recently, but I think subconsciously I have been living out the answer.
				p Entering college, for me, was a &ldquo;reset.&rdquo; During my growing-up years, I started to care more about the grade I received in a class. I still enjoyed learning, but I became distracted by the reputation I thought I needed to uphold. I had so many required classes, or Advanced Placement classes that could help my GPA and therefore help me get into college, and I wanted my grades to be perfect. But when I came to college, I had the opportunity to take classes that genuinely interested me.
			include ./includes/jade/more.jade
			.entire
				include:md ./includes/md/philosophyedu.md
				include ./includes/jade/less.jade
			
		footer
			include ./includes/jade/footer.jade