doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav1.jade
		main
			.abstract
				figure.right
					img(src="resources/aboutme/me.jpg")
				p Hello. I am Hannah Thomas, a Computer Scientist, a dreamer, and a kid at heart. I believe stories and play are essential to the lives of all people, no matter their age. My dream is to meld my love of technology with my love for stories and play in new and exciting ways.
				p: a.more Show More &#8595; 
			.entire
				include:md ./includes/md/purpose.md
				a.less Show Less &#8593;
				
			
		footer
			include ./includes/jade/footer.jade