doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav2.jade
		main
			section.toc
				h2 Table of Contents
				ol
					li.markit: a Markit On Demand
					li.lexmark: a Lexmark International, Inc.

			section.markit
				include:md ./includes/md/markit.md

			section.lexmark
				include:md ./includes/md/lexmark.md
		footer
			include ./includes/jade/footer.jade