doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav1.jade
		main
			section
				.section-title
					h2 Objective
				.section-content
					.content-item
						.item-content
							p Seeking a full-time position focused on game and app design and development for children starting mid-June 2015 using my computer science and/or design skills.
			section
				.section-title
					h2 Education
				.section-content
					.content-item
						.item-title.parent
							h3 University of Colorado Boulder
							h3 Aug 2011-May 2015
						.item-content
							ul
								li B.S. Computer Science
								li Emphasis: Software Engineering
								li Technology, Arts, and Media Minor
								li GPA: 3.913
								li <b>Awards and Memberships</b>
									ul
										li Dean's List(Fall 2011-Present)
										li Society of Women Engineers
										li Engineering Honors Program
			section
				.section-title
					h2 Relevant Experience
				.section-content
					.content-item
						.item-title.parent
							h3 Markit On Demand
							h3 Jun 2014-Aug 2014
						.item-content
							ul
								li Designed and implemented a website for the Design Team to catalogue resources and pool knowledge.
					.content-item
						.item-title.parent
							h3 Lexmark International, Inc.
							h3 Jun 2013-Aug 2013
						.item-content
							ul
								li Wrote a program to filter printer logs by various criterion (name, application, date range).
								li Wrote auto-configuration software to create a Kerberos Configuration File for a printer.
								li Implemented a web app for the autoconfiguration software.

			section
				.section-title
					h2 Projects
				.section-content
					.content-item
						.item-title.parent
							h3 NCAR Scientific Data Workflow Web application
							h3 Aug 2014-Present
						.item-content
							ul
								li Building a web application to easily subset and analyze NARCCAP climate data.
					.content-item
						.item-title.parent
							h3 interactiveFiction
							h3 Oct 2012-Dec 2012
						.item-content
							ul
								li Built a choose-your-own-adventure web application.

			section
				.section-title
					h2 Experience
				.section-content
					.content-item
						.item-title.parent
							h3 University of Colorado Boulder
							h3 Aug 2013-Present
						.item-content
							ul
								li Provide homework help and general tutoring for the introductory programming course.

			section
				.section-title
					h2 Volunteer
				.section-content
					.content-item
						.item-title.parent
							h3 Society of Women Engineers Girl Scout Badge Days
							h3 Oct 2013-May 2014
						.item-content
							ul
								li Led a small group of girl scouts in varying activities.
								li Taught basic engineering concepts.
					.content-item
						.item-title.parent
							h3 TEAMS
							h3 Aug 2011-Apr 2013
						.item-content
							ul
								li Guided students in an after-school program through various engineering projects.
								li Taught engineering projects to a class of students.

			section
				.section-title
					h2 Skills
				.section-content
					.content-item
						.item-title.parent
							h3 Programming
						.item-content
							ul
								li Extensive Experience in C, C++, and Python.
								li Exposure to Scala, Java, and C#.
								li Proficiency with Bash, Linux System Administration, and Terminal Commands.
								li Understanding of Object Oriented Programming and Design and Artificial Intelligence.
					.content-item
						.item-title.parent
							h3 Web Development
						.item-content
							ul
								li Extensive Experience in HTML(5) and CSS(3).
								li Experience in JavaScript, JQuery, PHP, Drupal and Drupal Views
					.content-item
						.item-title.parent
							h3 Design and Multimedia
						.item-content
							ul
								li Extensive Experience in Photoshop and Illustrator
								li Experience in InDesign, Maya, After Effects and iMovie

			section
				.section-title
					h2 Hobbies and Interests
				.section-content
					.content-item
						.item-content
							ul
								li Reading
								li Video Games
								li Art
								li Artificial Intelligence
								li the Art of Storytelling
								li Graphic Design

			include ./includes/jade/backtotop.jade


				


		footer
			include ./includes/jade/footer.jade