doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav2.jade
		main
			.abstract
				h2 Introduction
				p For our senior design project, we partnered with NCAR to create a proof-of-concept for a scientific workflow web application specializing in climate data.
				include ./includes/jade/more.jade 
			.entire
				include ./includes/jade/less.jade
			
		footer
			include ./includes/jade/footer.jade