doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav2.jade
		main
			
		footer
			include ./includes/jade/footer.jade