doctype html
html
	head
		include ./includes/jade/head.jade

	body
		header
			include ./includes/jade/header.jade
			include ./includes/jade/nav3.jade
		main
			section.toc
				h2 Table of Contents
				ol
					li.silas: a Essay on <i>Silas Marner</i> and <i>The Grand Inquisitor</i>
					li.frederick: a Essay on <i>The Narrative of the Life of Frederick Douglass</i>
					li.os: a Scheduling Algorithm Report
					li.research: a Research Proposal

			section.silas
				h2 Essay on <i>Silas Marner</i> and <i>The Grand Inquisitor</i>
				figure.full
					a(href="resources/writing/pdfs/silasandinquisitor.pdf",target="_blank"): img(src="resources/writing/images/silasandinquisitor.png")
					figcaption In the class Humanities for Engineers, I wrote an essay about the importance of community and relationships through the two stories <u>Silas Marner</u> and <u>The Grand Inquisitor</u>. You can read the essay by clicking on the image above.
				include ./includes/jade/backtotop.jade	

			section.frederick
				h2 Essay on <i>The Narrative of the Life of Frederick Douglass</i>
				figure.full
					a(href="resources/writing/pdfs/aristotlefrederick.pdf",target="_blank"): img(src="resources/writing/images/aristotlefrederick.png")
					figcaption In the class Humanities for Engineers, I wrote an essay explaining why Frederick Douglass claimed the valuation of the slaves as a more dehumanizing moment than the beating of his Aunt Hester. I related these two accounts to Aristotle's Nicomachean Ethics. You can read the essay by clicking on the image above.
				include ./includes/jade/backtotop.jade			


			section.os
				h2 Scheduling Algorithm Report
				figure.full
					a(href="resources/writing/pdfs/scheduling.pdf",target="_blank"): img(src="resources/writing/images/scheduling.png")
					figcaption For the class Operating Systems, we wrote and ran tests for the various scheduling algorithms. We then wrote a report explaining our findings. You can read the report by clicking on the image above.
				include ./includes/jade/backtotop.jade	

			section.research
				h2 Research Proposal
				figure.full
					a(href="resources/writing/pdfs/research.pdf",target="_blank"): img(src="resources/writing/images/research.png")
					figcaption For the class Analysis of Climate and Data Obervations, we were expected to write a brief research proposal for a hypothical research project. You can read the proposal by clicking on the image above.
				include ./includes/jade/backtotop.jade	

		footer
			include ./includes/jade/footer.jade