.parent#topnav
	h1.child 
		a(href="index.html") Hannah Thomas
	.child.sep |
	nav.child.parent#mainlinks
		a(href="index.html").child Home
		a(href="internships.html").child Experience
		a(href="designprojects.html").child Works
	.child.sep |
	a(href="mailto:hannah@hannah-thomas.com").child hannah@hannah-thomas.com
