title Hannah Thomas
link(rel="stylesheet",type="text/css",href="css/style.css")
script(type="text/javascript",src="js/jquery-1.11.2.min.js")
script(type="text/javascript",src="js/jquery.scrollTo.min.js")
script(type="text/javascript",src="js/main-mini.js")