---
layout: mylayout.njk
title: Home
---

{% section 'about' %}

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum
    egestas tellus sed mattis. Etiam ut felis blandit, sollicitudin ante sit amet,
    tempor odio. In hac habitasse platea dictumst. Aliquam et sollicitudin ipsum.
    Integer tristique varius semper. Suspendisse volutpat scelerisque porta.
    Phasellus bibendum id orci sed iaculis. Suspendisse tempus eros eu diam
    elementum, ut eleifend nunc varius. Proin sollicitudin, neque ut blandit
    ultrices, nunc augue commodo turpis, eu auctor orci neque lobortis velit.
    Suspendisse vehicula luctus viverra. Pellentesque vel tellus rutrum, consequat
    elit eget, pretium elit. Etiam at viverra sem, rhoncus fringilla sapien. Sed
    lacinia ac dolor et sollicitudin. Aliquam dapibus tincidunt hendrerit.
  </p>

  <img src="broken" />

{% endsection %} 

{% section '','Experience' %}
    {% item 'athenaHealth','September 2015 - Present' %}
      <p>Full-stack developer creating workflows for patient registration at health institutions.</p>

      <ul>
      <li><b>May 2024 - Present</b> Principle Member of Technical Staff
        <ul>
          <li>Technical Lead for 2 teams</li>
          <li>I plan the technical design for new features in a legacy codebase, with an eye towards modernization of technology when possible.</li>
        </ul>
      </li>
        <li> <b>XXX XXXX - May 2024</b> Lead Member of Technical Staff</li>
        <li> <b>XXX XXXX - XXX XXXX</b> Senior Member of Technical Staff </li>
        <li> <b>Sep 2015 - XXX XXXX</b> Member of Technical Staff </li>
      </ul>
    {% enditem %}

    {% item 'Markit On Demand','June 2014 - August 2014' %}
      <ul>
        <li>Designed and implemented a website for the Design Team to catalogue resources and pool knowledge, reducing training time for new hires.</li>
      </ul>
    {% enditem %}

    {% item 'Lexmark International, Inc.','June 2013 - August 2013' %}
      <ul>
        <li>Wrote a program to filter printer logs by various criterion (name, application, date range).</li>
        <li>Wrote auto-configuration software to create a Kerberos Configuration File for a printer.</li>
        <li>Implemented a web app for the autoconfiguration software.</li>
      </ul>
    {% enditem %}
{% endsection %}

{% section '','Education' %}
  {% item 'University of Colorado Boulder','August 2011 - May 2015' %}
    <ul>
    <li>B.S. Computer Science</li>
    <li>Emphasis: Software Engineering</li>
    <li>Technology, Arts, and Media Minor</li>
    <li>GPA: 3.913</li>
    <li><b>Awards and Memberships</b>
      <ul>
        <li>Dean's List(Fall 2011-Present)</li>
        <li>Society of Women Engineers</li>
        <li>Engineering Honors Program</li>
      </ul>
    </li>
    </ul>
  {% enditem %}
{% endsection %}

{% section '','Skills' %}
  {% item 'Programming' %}
    <ul>
      <li>Perl</li>
      <li>Java</li>
    </ul>
  {% enditem %}

  {% item 'Web Development' %}
    <table>
      <tr>
        <th> HTML </th>
        <th> CSS </th>
        <th> Javascript </th>
      </tr>
      <tr>
        <td>HTML5</td>
        <td>Less</td>
        <td>Node</td>
      </tr>
      <tr>
        <td>Markdown</td>
        <td>Sass</td>
        <td>React</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>jQuery</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td>Styled-Components</td>
      </tr>
    </table>

  {% enditem %}

{% endsection %}
